{
    "configuration": {
		"copyleaks-extension": {            
            		"EMAIL":"",
            		"API_KEY":"",
			"PROXY_SERVER_BASE_URL":"http://localhost:5000",
            		"WEB_HOOKS_URL":"https://domain.com/webhooks",
            		"WEB_HOOKS_NEWRESULT":"https://domain.com/newResult",
			"WEB_SOCKET_URL" : "ws://localhost:5000"
       	 	}
    	}
}
